* {
	box-sizing: border-box;
}
html { scroll-behavior: smooth; }

@font-face {
	font-family: letra;
	src:url('../../css/CONC_BI.ttf');
}

body {
	background-image: url(../img/25.webp);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center -250px 300px;
	
}

h1,h2, h3{	
	font-family: letra;
	text-shadow: -10px 5px 2px #ED4A28;
	
}


header {
	background-color: rgba(0,133,209, 0.5);
	width: auto;
	height: 80px;
	border: 1px solid black;
	display: flex;
}

header .titulo {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-left: 200px;
}
h1 {
	position: relative;
	left: 90px;
}

nav {
	display: flex;
	align-items: center;
	margin-right: 100px;
}

nav a {	
	padding: 10px;
	margin:2px;
	border: 1px solid #EE4836;
	text-decoration: none;
	font-family: 'letra';
	color: white;
	letter-spacing: 2px;	
}

main {
	display: flex;
	justify-content: center;
	height: auto;
	flex-wrap: wrap;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 5px solid #0085D1;		
}

section{
	 display: inline-block;
	 width:290px;
	 height: autopx;
	/* background-color: #1D9BF0; */
	 background-color: rgba(29,155,240,0.5);
	 vertical-align: top;
	 margin: 10px;
	 border: 1px solid black;	    	
}

section h2 {
	text-align: center;
}


section .fotos {
	display:flex;
	align-items: center;
	width: 100%;
	height: 385px;
}


section img {
	width: 98%;
	height: auto;
	margin-left: 3px;
	
}

footer {
	width: auto;
	height: 80px;
	background-color: rgba(72,93,118,0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

footer ul {
	display: flex;
}

footer ul li {
	list-style: none;
	margin: 0 2px;	
}

footer .fb {
	background-image: url(../../imagenes/facebook.png);
	background-repeat: no-repeat;
	font-size: 0;
	display: inline-block;
	width: 35px;
	height: 35px;
	transition: 0.5s;
}

footer .fb:hover {
	background-image: url(../../imagenes/facebookA.png);
	background-repeat: no-repeat;
}

	
footer .tw {
	background-image: url(../../imagenes/Twitter.png);
	font-size: 0;
	display: inline-block;
	width: 32px;
	height: 32px;
	transition: 0.5s;
	
}
footer .tw:hover {
	background-image: url(../../imagenes/TwitterA.png);	
	
}
footer .in {
	background-image: url(../../imagenes/instagram.png);
	font-size: 0;
	display: inline-block;
	width: 32px;
	height: 32px;
	transition: 0.5s;
}
footer .in:hover {
	background-image: url(../../imagenes/instagramc.png);	
	
}

#arriba {
	display: block;
	width: 50px;
	height: 50px;
	background-color: red;
	position: fixed;
	right: 15px;
	bottom: 15px;
	font-size: 0px;
	background:url(../ico/estrella.png);
	background-repeat: no-repeat;
	
}
